.App {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffb7ce;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    #border: 2px solid red;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    gap: 20%;
    align-items: center;
}